ion-item {
  --background: #3880ff;
  --color: #fff;
}

ion-button {
  --background: #062f77;
}

a {
  color: #fff;
}

ion-content {
  //--background: var(--ion-color-primary);
  //--background: url('../../assets/image/bg.png') no-repeat center center;
  background-size: cover;
  --overflow: hidden;
}
